// rename to secrets.h

#define INFLUX_HOST         "hostnameofinflux"
#define INFLUX_PORT         1883
#define INFLUX_DB           "databaseName"
#define INFLUX_MEASUREMENT  "measurementName"
//#define INFLUX_USER         "username"    // actually not used, use base64 below
//#define INFLUX_PASS         "password"
#define INFLUX_AUTH_BASE64  "dXNlcjpwYXNz"  // format:  user:pass  base64 encoded