// rename to secrets.h

#define HOSTNAME        "Janitza-Modbus2MQTT"

#define INFLUX_HOST         "hostnameofinflux"
#define INFLUX_PORT         1883
#define INFLUX_DB           "databaseName"
#define INFLUX_MEASUREMENT  "measurementName"
//#define INFLUX_USER         "username"    // actually not used, use base64 below
//#define INFLUX_PASS         "password"
#define INFLUX_AUTH_BASE64  "dXNlcjpwYXNz"  // format:  user:pass  base64 encoded

#define MQTT_HOST       "mqttServer"
#define MQTT_PORT       1883
#define MQTT_USER       "mqttUser"              // set to NULL when unused (without "")
#define MQTT_PASSWORD   "mqttPasswd"            // set to NULL when unused (without "")
#define MQTT_BASE_TOPIC "power/janitza/"        // has to end with slash
